<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Jim Geach</title>

    <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
  
	  
	
    	
      <div class="wrapper">
      <header>
        <h1>Jim Geach</h1>
        <p class="view">       
        
        <p>Extragalactic Astronomer</p><img src='{{ site.url }}/i/jimhead.jpg' alt="Jim Geach" /> 
        <a href="http://www.twitter.com/jgeach">@jgeach</a></p> <p>j.geach at herts.ac.uk.</p>


        <p> <a
        href="http://www.herts.ac.uk/research/stri/research-areas/car.html">Centre
        for Astrophysics Research (CAR), University of Hertfordshire</a>,
        Hatfield, Hertfordshire, AL10 9AB, United Kingdom</p>
      </p>			
      </header>
     </div>

<div class="container">
<div class="site">

 	 
{{ content }}

</div>
</div>


</body>
</html>
