<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>James Geach</title>

    <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55257618-1', 'auto');
  ga('send', 'pageview');

</script>



  </head>

  <body>
  
	  
	
    	
      <div class="wrapper">
      <header>
        <h1>James Geach</h1>
        <p class="view">       
        
        <p>Extragalactic Astronomer / Science Writer</p><img src='{{ site.url }}/i/jimhead.jpg' alt="Jim Geach" /> 
        <a href="http://www.twitter.com/jgeach">@jgeach</a></p> <p>j.geach at herts.ac.uk.</p>


        <p> <a
        href="http://www.herts.ac.uk/research/stri/research-areas/car.html">Centre
        for Astrophysics Research (CAR), University of Hertfordshire</a>,
        Hatfield, Hertfordshire, AL10 9AB, United Kingdom</p>
      </p>			
      </header>
     

<div class="container">
<div class="site">

 	 
{{ content }}

</div>
</div>
</div>

</body>
</html>
